<div data-ng-controller="RegistroController as registro">   
    <div class="jumbotron">
        <h1>Acerca de Eventos Deportivos</h1>
        <p class="lead">
            Eventos Deportivos es un proyecto desarrollado para la asignatura 'Proyecto' del 
            Ciclo de Grado Superior en Desarrollo de Aplicaciones Web.
        </p>
        <p>La idea del proyecto es desarrollar una aplicacion web que permita la gestion de 
            eventos deportivos ya sean cursos, torneos o competiciones de diferente formato.
        </p>
    </div>
    <div class="row">        
        <div  class="col-lg-4">
            <h2>Quienes somos</h2>
            <p><span style="background-image: url(img/avatar_64x64.png); border-radius: 50%; display:block;float:left; margin:-1px;height:64px; width:64px;"></span>
            <!--<img src="img/avatar_64x64.png" width="64" height="64" alt="Alvaro Pardo de Santayana" />-->
            Álvaro Pardo de Santayana Novo, alumno del Instituto de Educación Secundaria Augusto González Linares y
                 Programador de <a href="//www.sdmprogramas.com" target="_blank">SDM Progrmas</a></p>            
        </div>
        <div class="col-lg-4">
            <h2>Origen de la idea</h2>
            <p>La idea se ha ido gestando durante en años tras asistir la asistencia del alumno a diferentes competiciones
                en las que todo resultado, cruce y dato estan registrados a mano por los laboriosos miembros de la organizacion.
            </p>
            <p>El pensamiento recurrente de "Esto tiene que ser más sencillo si está automatizado" ha llevado al alumno a dar
                finalmente el paso y aprovechar la ocasión que representa la presentación del proyecto para llevarlo a cabo.
            </p>
        </div>        
        <div  class="col-lg-4">
            <h2>Motivos</h2>
            <p>Aunque algunos ya se han comentado, he aquí los motivos de desarrollo de la aplicación:</p>
            <ul>
                <li>Aprovechar el proyecto para probar formas nuevas de hacer las cosas y aprovecharlas en el día a día laboral.</li>                
                <li>Facilitar la labor de los organizadores, participantes y asistentes a diferentes eventos deportivos.</li>
                <li>Ofrecer una herramienta única para la gestión del evento.</li>
                <li>Automatizar la gestión de los resultados y cruces entre competidores.</li>
                <li>Facilitar a los participantes la información sobre sus encuentros, a saber <strong>donde</strong> y <strong>cuando</strong>.</li>
            </ul>    
        </div>
    </div>        
</div>