<div data-ng-controller="ContactoController as contacto">
    <h1>Formulario de Contacto</h1>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="nombre" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-9">
                <p class="input-group">
                    <input type="text" class="form-control" id="nombre" placeholder="Nombre" ng-bind="vm.Nombre" required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-user"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="apellidos" class="col-sm-3 control-label">Apellidos</label>
            <div class="col-sm-9">
                <p class="input-group">
                    <input type="text" class="form-control" id="apellidos" placeholder="Apellidos" ng-bind="vm.Apellidos" required>
                    <span class="input-group-btn">                    
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-user"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="email" class="col-sm-3 control-label">Dirección de Email</label>
            <div class="col-sm-9">
                <p class="input-group">
                    <input type="email" class="form-control" id="email" placeholder="Email" ng-bind="vm.Email" required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-envelope"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="asunto" class="col-sm-3 control-label">Asunto</label>
            <div class="col-sm-9">
                <p class="input-group">
                    <input type="text" class="form-control" name="asunto" id="asunto" placeholder="Asunto" ng-bind="vm.Asunto" required>
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-envelope"></i></button>
                    </span>
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="mensaje" class="col-sm-3 control-label">Mensaje</label>
            <div class="col-sm-9">                
                <textarea type="text" class="form-control" id="mensaje" name="mensaje" placeholder="Mensaje" ng-bind="vm.Mensaje" required>                
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn btn-primary" ng-click="vm.clickEnviar()"><i class="fa fa-envelope"></i> Enviar</button>
            </div>
        </div>
    </form>
</div>