<div data-ng-controller="InicioEventosController as inicioEventos">
    <div ng-repeat="evento in inicioEventos.eventos" class="row">
		<div class="col-md-4">
			<h2 ng-bind="evento.Nombre"></h2>
			<h3 ng-bind="evento.Actividad"></h3>
			<p ng-bind="evento.Descripcion"></p>
			<p>
				<small ng-bind="evento.FechaInicio | fecha"></small> - <small  ng-bind="evento.FechaFin  | fecha"></small> 
			</p>
			<p>
				<a ng-href="#/eventos/{{evento.Id}}">Ver detalles</a>
				<!--<a ui-sref="eventos/{{evento.Id}}">Ver detalles</a>-->
			</p>
		</div>
	</div>
</div>