<div data-ng-controller="RegistroCompletadoController as registro">
    <h1 class="center">¡Registro Completado!</h1>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="alert alert-success">
                <i class="fa fa-thumbs-up"></i> Registro completado con éxito.
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <p>Ha completado su registro con éxito y su cuenta ha sido activada.</p>
            <p>Puede proceder a identificarse:</p>
            <a ui-sref="acceso" class="btn btn-success"><i class="fa fa-sign-in"></i> Acceso</a>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>