<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Test" connectionString="Database=eventosdev;Data Source=eu-cdbr-azure-north-d.cloudapp.net;User Id=b233c5a25aa24b;Password=b1fc50b1" providerName="MySql.Data.MySqlClient" />
    <add name="Dev" connectionString="Database=eventosdev;Data Source=eu-cdbr-azure-north-d.cloudapp.net;User Id=b233c5a25aa24b;Password=b1fc50b1" providerName="MySql.Data.MySqlClient" />
    <add name="Sta" connectionString="Database=eventossta;Data Source=eu-cdbr-azure-north-d.cloudapp.net;User Id=b04a72f9906703;Password=83d9ac2d" providerName="MySql.Data.MySqlClient" />
    <add name="Real" connectionString="Database=eventos;Data Source=eu-cdbr-azure-north-d.cloudapp.net;User Id=b44ef664dcd340;Password=52d1f27b" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>