<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li>
				<a href="index.php/admin#/panel"><i class="fa fa-dashboard fa-fw"></i> Panel</a>
			</li>
			<li>
				<a href="index.php/admin#/usuarios"><i class="fa fa-users fa-fw"></i> Usuarios</a>
			</li>
			<li>
				<a href="index.php/admin#/actividades"><i class="fa fa-institution fa-fw"></i> Actividades</a>
			</li>
			<li>
				<a href="index.php/admin#/eventos"><i class="fa fa-ticket fa-fw"></i> Eventos</a>
			</li>
			<li>
				<a href="index.php/admin#/inscripciones"><i class="fa fa-files-o fa-fw"></i> Inscripciones</a>
			</li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->