<div data-ng-controller="NoEncontradoController as noencontrado">
    <h1>¡Lo sentimos!</h1>
    <div class="row">
        <div class="col-lg-3">
            <span style="background-image: url(img/404.png); border-radius: 50%; display:block;float:left; margin:-1px 5px -1px -1px;height:250px; width:250px;"></span>
        </div>
        <div class="col-lg-9">
            <p>Pór algún motivo la página que ha solicitado no está disponible en este momento:</p>

            <ul>
                <li>Puede que la dirección no exista => <a ui-sref="inicio">Volver al principio</a></li>
                <li>Puede que algo haya ido mal  => <a ui-sref="inicio">Volver al principio</a></li>
                <li>Puede hacernos alguna sugerencia => <a ui-sref="contacto">Ir a contacto</a></li>
                <li>Puede volver en otro momento => <a href="http://www.google.es">Ir a Google</a></li>
            </ul>
        </div>
    </div>

</div>