<div data-ng-controller="NoEncontradoController as noencontrado">   
    <h1>Página no encontrada</h1>
    <div>La dirección solicitada no está disponible en este momento:</div>
    <ul>
        <li>Puede que la dirección no exista => <a ui-sref="inicio">Voler al principio</a></li>
        <li>Puede que algo haya ido mal  => <a ui-sref="inicio">Voler al principio</a></li>
        <li>Puede hacernos alguna sugerencia => <a ui-sref="contacto">Ir a contacto</a></li>
        <li>Puede volver en otro momento => <a href="www.google.es">Ir a Google</a></li>
    </ul>            
</div>